<!doctype html>
<html>
   <body>
      {% for g in groups %}
        <p>{{g.ip}} {{g.fqdn}} # {{g.hostname}}</p>
      {% endfor %}
   </body>
   <h2> Welcome User {{username}} </h2>
   {% if username == 'admin' %}
    <form action = "/group" method = "POST">
        <p>Enter Hostname:</p>
        <p><input type = "text" name = "hostname" required></p>
        <p>Enter IP Address:</p>
        <p><input type = "text" name = "ip" required></p>
        <p>Enter Fully Qualified Domain Name:</p>
        <p><input type = "text" name = "fqdn" required></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
    {% endif %}
    <a href="/logout">Click here to logout</a>
</html>
